################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Introduction to the new Web API for DPS/2018InsightSample.WebApp/bin/Debug
